<div class="controls">
        <label>
            Font size
            <input id="plot-font-size" type="number" min="6" max="72" value="__INITIAL_FONT_SIZE__">
        </label>
        <div class="controls__actions">
            <button class="apply-btn" id="plot-style-apply">Apply</button>
            <button class="reset-btn" id="plot-style-reset">Reset</button>
        </div>
    </div>
    <div class="color-controls">
        <div class="color-controls__title">Bar colors (click label to open picker)</div>
        <div class="color-controls__list" id="color-picker-list"></div>
    </div>
    <div class="export-controls" id="export-controls"></div>
