* text=auto

DAJIN text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.R text eol=lf
*.py text eol=lf
*.md text eol=lf
*.html text eol=lf
*.svg text eol=lf
*.fa text eol=lf
*.fasta text eol=lf
*.fq text eol=lf
*.fastq text eol=lf
*.gz -text
